
.foodContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 20px;
    width: 100%;
    height: auto;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    background-color: #b2b2b2;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.slick-arrow.slick-prev,.slick-arrow.slick-prev:hover{
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}
.slick-arrow.slick-next,.slick-arrow.slick-next:hover{
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover{
    background-color: #b2b2b2;
    color: rgb(218, 209, 209);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
   
}
.slick-prev::before,.slick-next::before{
    display: block;
}
.slick-prev::after,.slick-next::after{
    display: block;
}

.slick-prev:hover,.slick-next:hover{
    display: block;
}
.currencyContainer{
    color: #2ba08c;
}
.currency{
    font-size: 25px;
}
.rating{
    font-size: 15px;
    color:#c3c3c5 ;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #e2e5ec;
}

.line2{
    width: 195px;
    height: 2px;
    background-color: #207567;
}

.cartContainer{
    display: flex;
    justify-content: space-between;
}
.cartDetails{
    margin-top: 30px;
    padding-right: 10px;
    display: none;
    margin-left: -40px;
}

.showCart{
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px solid grey;
}
.cart{
    cursor: pointer;
}
.cart:hover .cartDetails{
    display: block;
}
.showCart:hover {
    background-color: #207567;
    color: white;
}
.wishlist{
    display: none;
}
