.homeContainer{
    display: flex;
    justify-content: space-between;
}
.sidebarHide{
    width: 350px;
}

@media(max-width:990px){
    .sidebarHide{
        display: none;
    }
    .homeContainer{
        display: block;
    }
    .offerImgBox{
        width: 100%;
        height: 100%;
    }
    .offerImg img{
        width: 100%;
        height: 100%;
    }
}
@media(max-width:690px){
    .offerImg img{
        width: 500px;
        height: 100%;
    }
}