.sideBarContainer{
    width: 100%;
    height: 100%;
    background-color: white;
}
.sideBarContainer h5{
    width: 100%;
    background-color:#207567 ;
    padding: 20px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.categoriesHome a{
    text-decoration: none;
    color: black;
}

.categoriesHome{
    width: 100%;
    height: 42px;
    line-height: 35px;
    font-size: 13px;
    margin-top: -7px;
}
.categoriesHome a img{
    width: 20px;
    margin: 0 8px 0px 15px;
}
.categoriesHome:hover{
    border-bottom: 1px solid rgba(117, 117, 117, 0.198);
    background-color: white; 
    
}